{% extends 'base.html.twig' %}

{% block body %}

<!-- Why Choose us -->
<div id="section1" class="choose-us">

	<div class="container">

		<div class="row">

			<div class="col-lg-7">
				<img src="./assets/img/choose-us.jpg" alt="" class="choose-img img-fluid">
			</div>

			<div class="col-lg-5 ">

				<div class="choose-wrapper">

					<div class="choose-inner">

						<div class="choose-text">
							<h6>why choose us</h6>
							<h1>All your data collected in one place</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. Labore et </br>
								</br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							<a href="#" class="btn btn-light">core features</a>
						</div>
						<!--End of choose text-->

					</div>
					<!--End of choose inner-->

				</div>
				<!--End of choose wrapper-->

			</div>

		</div>
		<!--End of row-->
		
	</div>
	<!--End of container-->
	
	<a href="#section2" class="scrl-down scroll-down choose-scroll-down"><i class="fa fa-long-arrow-down"></i></a>

</div>
<!--End of choose us-->

{% endblock %}