{% extends 'base.html.twig' %}

{% block body %}

<!-- slider img -->
<div class="control-area pricing rocket-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="control-text">
					<h1>Tecnología a tu alcance</h1>
					<p>Soluciones tecnológicas a las necesidades reales de tu negocio.</p>

					<a href="#" class="btn btn-primary">Más información</a>
				</div>
			</div>
		</div>
		<!--End of row-->
	</div>
	<!--End of container-->
</div>
<!-- end slider img -->

<div id="section1" class="benefits choose-us">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="choose-wrapper">
					<div class="choose-inner">
						<div class="choose-text">
							<h6>Por qué elegirnos</h6>
							<h1>Impulsa tu negocio hasta el infinito</h1>
							<p>Pon tu negocio en órbita y hazlo crecer hacia el infinito con la última tecnología disponible en La Tierra.</p>
							<p>En <i>Reacción Estudio</i> somos expertos en lanzar y gestionar proyectos dentro de este gran universo llamado Internet.</p>
							<p>No te quedes ahí parado y descubre todo lo que te podemos ofrecer.</p>
						</div>
						<!--End of choose text-->
					</div>
					<!--End of choose inner-->
				</div>
				<!--End of choose wrapper-->
			</div>

			<div class="col-lg-7 text-right">
				<img src="{{ asset('images/features/benefits-bg.png') }}" alt="" class="features-page-img img-fluid">
			</div>
		</div>
		<!--End of row-->
	</div>
	<!--End of container-->
	<a href="#section2" class="scrl-down scroll-down featurepage-scroll-down"><i class="fa fa-long-arrow-down"></i></a>
</div>


<div id="section2" class="features-area scroll-section">

	<div class="container">

		<div class="row">
			<div class="co-lg-6 mr-auto ml-auto">
				<div class="features-top">
					<h1>Servicios</h1>
					<p>Todo para tus proyectos, procedimientos, objetivos y tu equipo.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-cog"></i>
					<div class="features-text">
						<h4>Software</h4>
						<p>Diseñamos software de calidad que resuelva tus necesidades.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-globe"></i>
					<div class="features-text">
						<h4>Desarrollo web</h4>
						<p>Desarrollo de páginas web utilizando las últimas tecnologías.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-shopping-basket"></i>
					<div class="features-text">
						<h4>E-commerce</h4>
						<p>Tiendas online adaptadas a las necesidades de tu negocio.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-mobile"></i>
					<div class="features-text">
						<h4>Apps móviles</h4>
						<p>Aplicaciones móviles nativas e híbridas para Android e iOS.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-search"></i>
					<div class="features-text">
						<h4>SEO & SEM</h4>
						<p>Servicios de posicionamiento web y gestión de campañas publicitarias.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-envelope"></i>
					<div class="features-text">
						<h4>Email Marketing</h4>
						<p>Diseñamos y gestionamos tus campañas de email marketing.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-at"></i>
					<div class="features-text">
						<h4>Dominios</h4>
						<p>Registro y gestión de dominios al mejor precio.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-server"></i>
					<div class="features-text">
						<h4>Servidores</h4>
						<p>Ofrecemos una amplia gama de servidores virtuales.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-cloud"></i>
					<div class="features-text">
						<h4>Cloud &amp; Infraestructura</h4>
						<p>Nos encargamos de administrar los servidores para que tu negocio esté siempre online.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-industry"></i>
					<div class="features-text">
						<h4>Consultoría</h4>
						<p>Consultoría y asesoramiento tecnológico para tu negocio.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-comment"></i>
					<div class="features-text">
						<h4>Soporte técnico</h4>
						<p>Soporte técnico para todos nuestros productos y servicios.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature-items">
					<i class="fa fa-code"></i>
					<div class="features-text">
						<h4>Open Source</h4>
						<p>Implementa las mejores soluciones Open Source en tu negocio.</p>
					</div>
				</div>
			</div>

		</div>
		<!--End of row-->
		
	</div>
	<!--End of container-->
	
</div>


{% endblock %}