<!-- slider img -->
<div class="control-area pricing rocket-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="control-text">
					<h1>Tecnología a tu alcance</h1>
					<p>Soluciones tecnológicas a las necesidades de tu negocio.</p>

					<a href="#why-choose-us" class="btn btn-primary scrl-down">Más información</a>
				</div>
			</div>
		</div>
		<!--End of row-->
	</div>
	<!--End of container-->
</div>
<!-- end slider img -->