<div id="why-choose-us" class="benefits choose-us">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="choose-wrapper">
					<div class="choose-inner">
						<div class="choose-text">
							<h6>Por qué elegirnos</h6>
							<h1>Impulsa tu negocio hasta el infinito</h1>
							<p>Pon tu negocio en órbita y hazlo crecer hacia el infinito con la última tecnología disponible en La Tierra.</p>
							<p>En <i>Reacción Estudio</i> somos expertos en lanzar y gestionar proyectos dentro de este gran universo llamado Internet.</p>
							<p>No te quedes ahí parado y descubre todo lo que te podemos ofrecer.</p>
						</div>
						<!--End of choose text-->
					</div>
					<!--End of choose inner-->
				</div>
				<!--End of choose wrapper-->
			</div>

			<div class="col-lg-7 text-right d-none d-lg-block">
				<img src="{{ asset('images/features/benefits-bg.png') }}" alt="" class="features-page-img img-fluid">
			</div>
		</div>
		<!--End of row-->
	</div>
	<!--End of container-->

	<a href="#services-section" class="scrl-down scroll-down featurepage-scroll-down d-none d-lg-block"><i class="fas fa-long-arrow-alt-down"></i></a>

</div>