
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

### custom rules ###
theme/*
node_modules/*
public/build/images/*
public/build/fonts/*
public/build/app.css
public/build/app.js

### reaccion cms bundle ###
/src/ReaccionEstudio
