<div id="software-section" class="services-list">

	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="top-title started-title">
					<h1>Marketing</h1>
					<p>
						"Quien deja de hacer publicidad para ahorrar dinero, es como si parara el reloj para ahorrar el tiempo."
						<br />
						<i>Henry Ford - </i>
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fas fa-search"></i>
					</div>
					<h3>SEO &amp; SEM</h3>
					<p>Posicione su p치gina web en los primeros puestos en los resultados de los buscadores y obtenga resultados en sus campa침as publicidad.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="far fa-envelope"></i>
					</div>
					<h3>Email Marketing</h3>
					<p>Mantenga informados a sus clientes de todas las novedades en su negocio.<br />Creamos, dise침amos y gestionamos sus campa침as de email marketing.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="far fa-comment-alt"></i>
					</div>
					<h3>Redes sociales</h3>
					<p>Gestionamos y potenciamos sus redes sociales para incrementar sus ventas, la imagen de su marca y la confianza de sus consumidores.</p>
				</div>
			</div>
		</div>

	</div>

</div>