<div id="software-section" class="services-list">

	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="top-title started-title">
					<h1>Movilidad</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
				</div>
			</div>
		</div>

		<div class="row">
			
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fab fa-android"></i>
					</div>
					<h3>Aplicaciones Android</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fab fa-apple"></i>
					</div>
					<h3>Aplicaciones iOS</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fas fa-mobile-alt"></i>
					</div>
					<h3>Aplicaciones Híbridas</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>

		</div>

	</div>

</div>