<div id="software-section" class="services-list">

	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="top-title started-title">
					<h1>Movilidad</h1>
					<p>"El 85% de los españoles utiliza su Smartphone para conectarse a Internet."</p>
				</div>
			</div>
		</div>

		<div class="row">
			
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fab fa-android"></i>
					</div>
					<h3>Aplicaciones Android</h3>
					<p>Desarrollamos aplicaciones Android nativas para Smartphones y tablets.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fab fa-apple"></i>
					</div>
					<h3>Aplicaciones iOS</h3>
					<p>Desarrollamos aplicaciones iOS nativas para iPhone &amp; iPad.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fas fa-mobile-alt"></i>
					</div>
					<h3>Aplicaciones Híbridas</h3>
					<p>Aplicaciones multiplataforma con el coste de un único desarrollo.</p>
				</div>
			</div>

		</div>

	</div>

</div>