<div id="software-section" class="services-list">

	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="top-title started-title">
					<h1>Servidores</h1>
					<p>Los mejores proyectos necesitan los mejores servidores.</p>
				</div>
			</div>
		</div>

		<div class="row">
			
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fas fa-server"></i>
					</div>
					<h3>Alojamiento compartido</h3>
					<p>Ofrecemos planes económicos de alojamiento compartido para páginas web con poco tráfico.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fas fa-server"></i>
					</div>
					<h3>Servidores VPS</h3>
					<p>Servidores virtuales privados preparados para sacarle el máximo partido a sus recursos garantizados.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fas fa-server"></i>
					</div>
					<h3>Servidores dedicados</h3>
					<p>Amplia gama de servidores dedicados para obtener el mayor rendimiento en sus proyectos.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fas fa-cloud"></i>
					</div>
					<h3>AWS &amp; Azure</h3>
					<p>Obtenga las ventajas de los servicios en la nube y de sus recursos prácticamente infinitos.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fas fa-terminal"></i>
					</div>
					<h3>Administración</h3>
					<p>Administramos toda su infraestructura de servidores para obtener un 99.9% de disponibilidad.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fas fa-shield-alt"></i>
					</div>
					<h3>Backups</h3>
					<p>Diseñamos su política de backups y gestionamos todas sus copias de seguridad.</p>
				</div>
			</div>
		</div>

	</div>

</div>