<div id="software-section" class="services-list">

	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="top-title started-title">
					<h1>Software</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fa fa-cog"></i>
					</div>
					<h3>Diseño y desarrollo</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fa fa-industry"></i>
					</div>
					<h3>Consultoría</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fa fa-wrench"></i>
					</div>
					<h3>Soporte técnico</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fa fa-signal"></i>
					</div>
					<h3>Escalabilidad</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="far fa-file-alt"></i>
					</div>
					<h3>Gestión empresarial</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fab fa-github"></i>
					</div>
					<h3>Soluciones Open Source</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>
		</div>

	</div>

</div>
