<div id="software-section" class="services-list">

	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="top-title started-title">
					<h1>Desarrollo web</h1>
					<p>"Si su negocio no está en internet, su negocio no existe."<br /><i>Bill Gates - cofundador de Microsoft.</i></p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fa fa-cog"></i>
					</div>
					<h3>Diseño y desarrollo de páginas web</h3>
					<p>Diseñamos y desarrollamos su página web ofreciendo soluciones personalizadas y ajustadas a su presupuesto.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fa fa-industry"></i>
					</div>
					<h3>Diseño y desarrollo de aplicaciones web</h3>
					<p>Desarrollamos aplicaciones web accesibles desde cualquier lugar y dispositivo que tenga conexión a Internet.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fa fa-shopping-cart"></i>
					</div>
					<h3>Diseño y desarrollo de tiendas online</h3>
					<p>Venda sus productos y servicios a través de una tienda online que está disponible las 24 horas del día durante los 365 días del año.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fa fa-wrench"></i>
					</div>
					<h3>Consultoría</h3>
					<p>Ofrecemos servicios de consultoría para su tienda online, página o aplicación web.<br /></p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="fa fa-signal"></i>
					</div>
					<h3>Soporte técnico</h3>
					<p>Obtenga el mejor servicio técnico para su tienda online, página o aplicación web.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-start-box">
					<div class="start-icon">
						<i class="far fa-file-alt"></i>
					</div>
					<h3>Migraciones</h3>
					<p>Migramos su tienda online, página o aplicación web, base de datos o cualquier otra plataforma.</p>
				</div>
			</div>
			
		</div>

	</div>

</div>
