<!-- slider img -->
<div id="contact-us-page-slider" class="control-area contact-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="control-text">
					<h1>Contacta con nosotros</h1>
				</div>
			</div>
		</div>
		<!--End of row-->
	</div>
	<!--End of container-->
</div>
<!-- end slider img -->