<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="UTF-8">
        <title>{% block title %}Reacción Estudio {% if seo is defined and seo.title is not empty %}- {{ seo.title }}{% endif %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if seo is defined and seo.description is not empty %}
        <meta name="description" content="{{ seo.description }}" />
        {% endif %}
        
        <link href="{{ asset('images/favicon.ico') }}" type="image/x-icon" rel="shortcut icon" />
        <link rel="stylesheet" href="./build/app.css">
        {% block stylesheets %}{% endblock %}

    </head>

    <body>

    	{% embed 'header.html.twig' %}{% endembed %}

        {% block body %}{% endblock %}
        
        {% embed 'footer.html.twig' %}{% endembed %}

        <script type="text/javascript" src="./build/app.js"></script>

        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5a9da7c5d7591465c708460b/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        
        {% block javascripts %}{% endblock %}

    </body>

</html>
