<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="UTF-8">
        <title>{% block title %}Reacción Estudio {% if seo is defined and seo.title is not empty %}- {{ seo.title }}{% endif %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if seo is defined and seo.description is not empty %}
        <meta name="description" content="{{ seo.description }}" />
        {% endif %}
        
        <link href="{{ asset('images/favicon.ico') }}" type="image/x-icon" rel="shortcut icon" />
        <link rel="stylesheet" href="./build/app.css">
        {% block stylesheets %}{% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107040339-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-107040339-1');
        </script>


    </head>

    <body>

    	{% embed 'header.html.twig' %}{% endembed %}

        {% block body %}{% endblock %}
        
        {% embed 'footer.html.twig' %}{% endembed %}

        <script type="text/javascript" src="./build/app.js"></script>
        
        {% block javascripts %}{% endblock %}

    </body>

</html>
