<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="UTF-8">
        <title>{% block title %}Reacción Estudio{% endblock %}</title>
        
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="./assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="./assets/css/modal-video.min.css">
		<link rel="stylesheet" href="./assets/css/animate.css">
		<link rel="stylesheet" href="./assets/css/normalize.css">
		<link rel="stylesheet" href="./style.css">
		<link rel="stylesheet" href="./assets/css/responsive.css">
        {% block stylesheets %}{% endblock %}

    </head>

    <body>

        {% block body %}{% endblock %}

        <script src="./assets/js/jquery.3.2.1.min.js"></script>
        {% block javascripts %}{% endblock %}

    </body>

</html>
