<!-- Footer Area -->
<div class="footer-menu">

	<div class="footer-bottom">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4">
					<a href="" class="logo-footer"><img src="{{ asset('images/footer-logo.png') }}" alt=""></a>
				</div>
				<div class="col-lg-8">
					<div class="footer-menu">
						<ul>
							<li class="active">
								<a href="{{ url('home') }}" title="Inicio">Inicio</a>
							</li>
							<li>
								<a href="#" title="Servicios">Servicios</a>
							</li>
							<li>
								<a href="#" title="Portafolio">Portafolio</a>
							</li>
							<li>
								<a href="#" title="Blog">Blog</a>
							</li>
							<span><a href="#" title="Contacto">Contacto</a></span>
						</ul>
					</div>
				</div>
			</div>
			<!--End of row-->
		</div>
		<!--End of container fluid-->
	</div>
	<!--End of footer bottom-->

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 text-left">
				<div class="copyright">
					<p>© {{ "now" | date("Y") }} Reacción Estudio.</p>
				</div>
			</div>
			<div class="col-lg-4 text-right">
				<div class="social-icon">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<!--End of row-->
	</div>
	<!--End of container fluid-->

	<a href="#" class="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

</div>
<!--End of Footer Menu-->